.device-box::after {
  content: "Default";
  display: block;
  font-size: 2em;
  text-align: center;
  padding: 60px;
  background-color: lightgray;
  border: 3px solid black;
}

@media only screen and (max-width:599px){
    body {
        background-color: lightblue;
    }

    .device-box::after {
        content: "Mobile View";
        font-size: 1.5em;
    }
}

@media only screen and (min-width:600px) and (max-width:899px){
    body {
        background-color: lightgreen;
    }

    .device-box::after {
        content: "Tablet View";
        border: 3px dotted black;
    }
}