.device-box::after {
  content: "Default";
  display: block;
  font-size: 2em;
  text-align: center;
  padding: 60px;
  background-color: lightgray;
  border: 3px solid black;
}

@media only screen and (max-width:599px){
    body {
        background-color: lightblue;
    }

    .device-box::after {
        content: "Mobile Device";
        font-size: 1.5em;
    }
}

@media only screen and (min-width:600px) and (max-width:899px){
    body {
        background-color: lightgreen;
    }

    .device-box::after {
        content: "Tablet Device";
        border: 3px dotted black;
    }
}

@media only screen and (min-width:900px) and (max-width:1199px){
    body {
        background-color: lightcoral;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
    }

    .device-box::after {
        content: "Desktop  Device";
        padding: 100px;
    }
}

@media only screen and (min-width:1200px){
    body {
        background-color: rgb(227, 230, 173);
    }

    .device-box::after {
        content: "Ultra-Wide Device";
    }
}
