body {
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.container::after {
    content: "Default view";
    display: block;
    font-size: 2em;
    text-align: center;
    padding: 50px 0;
    color: black;
}

@media only screen and (max-width:599px){
    body {
        background-color: blue;
    }

    .container::after {
        content: "Mobile View";
        color: white;
    }
}
